@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Navbar.css */
.App-menu {
    background: #f92e9e;
}



.menu {

    max-width: 1225px;
    width: 100%;
    min-width: 320px;
    margin: 0 auto;
    padding: 0 15px;
}

section {
    padding: 100px 0;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

nav ul li ul {
    position: absolute;
    margin-top: 50px;
    display: none;


}

li {
    list-style: none
}

a {
    text-decoration: none;
}

.menu_in ul {
    gap: 30px;

}

.menu {
    /* width: 100%;
    top: 0;
    left: 0;
    position: fixed; */
    padding: 20px;

}

nav ul li:hover>ul {
    display: initial;
}

.header_link {
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    color: #efebed;
    transition: 1s;
    font-family: "Lato";

}

.header_link:hover {
    color: #ddb564;
    border-bottom: 1px solid #ddb564;
    transition: 1s;
}